<div class="btns">

     <% if(prev){ %>
        
        <button class="prev-btn">prev</button>

        <% }else{ %>

            <button class="prev-btn" disabled> </button>

            <% } %>

        <% if(next){ %>
        
            <button class="next-btn">next</button>
    
            <% }else{ %>

            <button class="next-btn" disabled> </button>
             
            <% } %>
    
</div>