<div class="sidebar">
    <div class="logo-details">
       <span class="logo_name">ShukraSanchaya</span>
    </div>
    <ul class="nav-links">
        <li>
        <a href="/dashboard/admin"  class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Overview</span>
        </a>
        </li>
        <li id="all-users">
        <a href="/dashboard/admin/users/all?page=1">
            <i class='bx bxs-user'></i>
            <span class="links_name" >All Users</span>
        </a>
        </li>
        <li>
        <a href="/dashboard/admin/appointments/all?page=1" >
            <i class='bx bx-box' ></i>
            <span class="links_name">All Appointments</span>
        </a>
        </li>
        <li>
        <a href="/dashboard/admin/hospitals/all?page=1" >
            <i class='bx bx-plus-medical' ></i>
            <span class="links_name">All Hospitals</span>
        </a>
        </li>
        <li>
        <a href="/dashboard/admin/donors/all?page=1" >
            <i class='bx bx-donate-blood'></i>
            <span class="links_name">All Donors</span>
        </a>
        </li>
        <li>
        <a href="/dashboard/admin/contacts/all?page=1" >
            <i class='bx bx-message' ></i>
            <span class="links_name">All Contacts</span>
        </a>
        </li>
        
        <li>
        <a href="/dashboard/admin/hospital/register" >
            <i class='bx bx-plus-medical' ></i>
            <span class="links_name">Register Hospital</span>
        </a>
        </li>

        <li class="log_out">
        <a href="/action/logout" >
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
        </a>
        </li>
    </ul>
</div>    