*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  li{
    list-style-type: none;
  }
  .header{
  position: relative;
  z-index: 10;
  top:0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  }
  .header>.hamburger{
    
    padding-right: 2rem;
    cursor: pointer;
    display: none;
  }
  header>.hamburger i{
    font-size: 3rem;
    color: black;
  }
  
  .header  ul.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:width 0.5s linear;
    -webkit-transition:width 0.5s linear;
    -moz-transition:width 0.5s linear;
    -ms-transition:width 0.5s linear;
    -o-transition:width 0.5s linear;
  }
  .header .nav-links>.nav-link{
    margin:10px;
    padding:0 0.5rem;
    cursor: pointer;
  }
  .header .nav-links .hide-sidebar-btn{
    font-size: 3rem;
    position: absolute;
    top:5rem ;
    left: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .header .nav-links>.nav-link a{
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    
  }
  
  .header .logo{
    margin-left: 20px;
    height:4rem;
    width: 4rem;
   
  }
  .header .logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .nav-links>.nav-link{
    position: relative;
  }
  
  .nav-links>.nav-link:hover::after,.nav-links>.nav-link.active::after{
  
      content: "";
      position: absolute;
      background-color: blue;
      width:100%;
      height: 0.2rem;
      bottom: 0px;
      left: 0px;
    
  
  }
 
  
  
  .nav-link#my-account-nav-link{
    margin-right: 20px;
  }
  
  .nav-link#my-account-nav-link ul{
    position: absolute;
    top: 3rem;
    opacity: 0;
    padding:0.5rem 0 1rem 0;
    border-radius: 20px;
    box-shadow: 5px 20px 20px #C4BFBE ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .nav-link#my-account-nav-link ul li a{
    border-bottom: 1px solid black;
    width: 100%;
  
    padding:0.5rem  2rem;
  }
  .nav-link#my-account-nav-link.show-dropdown ul {
    opacity: 1;
  
  }

  .nav-link#my-account-nav-link ul li:hover a, .nav-link#my-account-nav-link ul .nav-link.active a{
  background-color: blue;
  color: white;
  }
  
  

  /* overriding navigation for home page */

  .header#home .nav-links .nav-link a,  header#home>.hamburger i{
    color: white;
  }

  .header#home .nav-link#my-account-nav-link{
    color: white;
  }


  
  
  /* media queries for navigation bar */
  
  @media screen and (max-width:768px) {
    
    .header{
      position: relative;
    }
  
    .header .hamburger{
      display: block;
    }
    
   
    .header ul.nav-links{
     flex-direction: column;
     justify-content:flex-start;
     position: fixed;
     right:-2em;
     top:0rem;
     bottom: 0;
     padding: 10rem 0;
     background-color: black;
     width:0%;
     
     
    }
    .header .nav-links.show-sidebar{
      width:60%;
    }
    .header .nav-links button.hide-sidebar-btn{
      /* color: white; */
      display: block;
    
    }
    .header .nav-links .nav-link{
      width: 100%;
      
    }
      .header .nav-links .nav-link a{
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }
   
    .header .nav-links .nav-link#my-account-nav-link i{
      color: white;
    }
    .header .nav-links .nav-link#my-account-nav-link ul{
      width: 100%;
      box-shadow: none;
    }
    
  }
  
  @media screen and (max-height:700px) {
    .header .nav-links>.nav-link a{
      font-size: 1.2rem;
      padding: 10px;
    }
 
  }
  @media screen and (max-height:500px) {
    .header .nav-links>.nav-link a{
      font-size: 1rem;
      padding: 0;
    }
 
  }
  @media screen and (max-height:400px) {
    .header .nav-links>.nav-link a{
      font-size: 1rem;
      padding: 0;
    }
    .header .nav-links .hide-sidebar-btn{
      font-size: 1em;
      top: 2rem;
    }
 
  }
