body {
  font-family: 'Ubuntu', sans-serif;
  /* height: 100vh;
  width: 100vw; */
  

}
* {box-sizing: border-box;}

.video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  /* height: 100%;
  width: 100%; */
}

form >.heading{
text-align: center;
margin: 2rem;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  font-family: 'Ubuntu', sans-serif;
font-size: 1.3em;
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  font-size:1.4em;
  font-family: 'Roboto Mono', monospace;
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
a.login-link{
  display: block;
  margin: 20px;
}