<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Nabla&family=Roboto+Mono:ital,wght@0,100;0,400;1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">


    <!-- font awesome kit code -->
    <script src="https://kit.fontawesome.com/7fb2d5bac5.js" crossorigin="anonymous"></script>
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- navbar css -->
    <link rel="stylesheet" type="text/css" href="/css/general/navbar.css"/>
    <!-- navbar js -->
    <script src="/js/general/navbar.js" defer ></script>

    <!-- about css -->
    <link rel="stylesheet" type="text/css" href="/css/general/about.css">
    <!-- about js -->
    <script src="/js/general/about.js" defer></script>

    <title>About us</title>                                                       
</head>
<body>
    <!-- navbar -->
    <%-include("../../partials/general/navbar.ejs")%>
     
    <!-- about page content -->

    <div class="main-container">
        <h1 class="heading-text" id="main-header">About <span class="special-text">Us</span></h1>
        <div class="top-container">
         <p>
           We are working to provide a platform where we act as a mediator between clients,donors and hospitals/clinics.

         </p>
         <p>What clients Can do?</p>
         <p>
            Clients  can register to us and make appointments to the hospitals/clinics.
            The appointments Will be properly tracked .
         </p>
         <p>What donors Can do?</p>
         <p>
            Donors can firstly register as a user. Once they are authenticated as user they can apply to become donor.
            They also can make appointments to our registered  hospitals/clinics to donate.


         </p>
         <p>What Hospitals Can do?</p>
         <p>
            Hospitals Can register to us by contacting with us physically .We will provide them donors and clients as per their choice.
            They will be provided with the Admin panel to keep track of appointments
         </p>
        </div>
        <div class="bottom-container">
            <h1 class="heading-text">Our <span class="special-text">Team</span> </h1>
             <div class="card-container">

   
                <div class="card">
                    <div class="card-image-container">
                        <img src= "/assets/images/rishi_pic.jpg">
                    </div>
                    <div class="mid-container">
                    
                        <p class="info-displayer">
                        please hover on icons to get info
                        </p> 
                    </div>
                    <div class="icons">
                        <div> <i  class=" icon fa fa-user name" ><span>name</span></i></div> 
                        <div> <i  class=" icon fa fa-child age"><span>age</span></i></div> 
                        <div> <i  class=" icon fa fa-envelope email"><span>email</span></i></div> 
                        <div> <i  class=" icon fa fa-phone phone"><span>phone</span></i></div> 
                        <div> <i  class=" icon fa fa-building department"><span>department</span></i></div> 
                        <div> <i  class=" icon fa fa-address-card address "> <span>address </span></i></div> 
                    </div> 
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img src= "/assets/images/hansika_pic.jpg"/>
                    </div>
                    <div class="mid-container">
                    
                        <p class="info-displayer">
                        please hover on icons to get info
                        </p> 
                    </div>
                    <div class="icons">
                        <div> <i  class=" icon fa fa-user name" ><span>name</span></i></div> 
                        <div> <i  class=" icon fa fa-child age"><span>age</span></i></div> 
                        <div> <i  class=" icon fa fa-envelope email"><span>email</span></i></div> 
                        <div> <i  class=" icon fa fa-phone phone"><span>phone</span></i></div> 
                        <div> <i  class=" icon fa fa-building department"><span>department</span></i></div> 
                        <div> <i  class=" icon fa fa-address-card address "> <span>address </span></i></div> 
                    </div> 
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img src= "/assets/images/menuka_pic.jpg"/>
                    </div>
                    <div class="mid-container">
                    
                        <p class="info-displayer">
                        please hover on icons to get info
                        </p> 
                    </div>
                    <div class="icons">
                        <div> <i  class=" icon fa fa-user name" ><span>name</span></i></div> 
                        <div> <i  class=" icon fa fa-child age"><span>age</span></i></div> 
                        <div> <i  class=" icon fa fa-envelope email"><span>email</span></i></div> 
                        <div> <i  class=" icon fa fa-phone phone"><span>phone</span></i></div> 
                        <div> <i  class=" icon fa fa-building department"><span>department</span></i></div> 
                        <div> <i  class=" icon fa fa-address-card address "> <span>address </span></i></div> 
                    </div> 
                </div>
             </div>    
        </div>
    </div>
</body>
</html>