<nav>
    <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
    </div>
   
    <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="hospital-name"><%=user.name%></span>
        <!-- <i class='bx bx-chevron-down' ></i> -->
    </div>
    <div class="return-home">
        <!--<img src="images/profile.jpg" alt="">-->
       <span><a href="/">Back To Home</a></span> 
    </div>
</nav>