
<form class="delete-form" action="/dashboard/client/action/<%= user._id %>" method="POST">
   <input type="hidden" name="_method" value="DELETE" />
   <div class="confirm-message">
      <p>Are you sure you want to delete?</p>
   </div>
   <div class="btns">
      <button class="yes-btn" type="submit">Yes</button>
      <button class="no-btn" >  <a href="/dashboard/client/">No</a></button>
   </div>
</form>